[user]
	name = Dash Eclipse
	email = dashezup@disroot.org
	signingkey = 277795766AFD1FB3
[commit]
	gpgsign = true
[diff]
	tool = vimdiff
[http]
	proxy = socks5h://127.0.0.1:1080
[https]
	proxy = socks5h://127.0.0.1:1080
[init]
	defaultBranch = main
[gpg]
	program = gpg2
[alias]
	# git log --name-status
	wip = "!git add --all; git commit -a -m \"wip: update\""
	wtc = "!git add --all; git commit -a -m \"[WTC] $(curl -s whatthecommit.com/index.txt)\""
	# cloc -vcs git
	stats = !git diff --stat \"$(git hash-object -t tree /dev/null)\"
	changelog = !git --no-pager log --oneline --pretty=\"%cs %s\" -n5
	contrib = !git shortlog -sne
